@model List<HotelViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<form method="get">
    <div class="card">
        <h5 class="card-header">Oteller Listesi</h5>
        <div class="table-responsive text-nowrap">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Address</th>
                        <th>City</th>
                        <th>Country</th>
                        <th>Description</th>
                        <th>Rating</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.HotelId</td>
                            <td><strong>@item.Name</strong></td>
                            <td>@item.Address</td>
                            <td>@item.City</td>
                            <td>@item.Country</td>
                            <td>@item.Description</td>
                            <td>@item.Rating</td>
                            <td> <a class=" nav-link bg-danger bg-danger-50 text-white d-inline-block rounded" asp-controller="Hotel" asp-action="Edit" asp-area="Admin" asp-route-id="@item.HotelId">Güncelle</a></td>
                            <td> <a class=" nav-link bg-danger bg-danger-50 text-white d-inline-block rounded" asp-controller="Hotel" asp-action="Delete" asp-area="Admin" asp-route-id="@item.HotelId">Sil</a></td>
                            <td> <a class=" nav-link bg-danger bg-danger-50 text-white d-inline-block rounded" asp-controller="Hotel" asp-action="Room" asp-area="Admin" asp-route-id="@item.HotelId">Odalar</a></td>

                        </tr>
                    }
                    <a asp-action="Create" asp-controller="Hotel" asp-area="Admin">Otel ekle</a>
                </tbody>
            </table>
        </div>
    </div>
</form>
