@model List<Entity.ViewModels.RoomViewModel>

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_LayoutHotel.cshtml";

    DateTime checkInDate = DateTime.Parse(ViewData["CheckInDate"].ToString());
    DateTime checkOutDate = DateTime.Parse(ViewData["CheckOutDate"].ToString());
    int numberOfGuests = Convert.ToInt32(ViewData["NumberOfGuests"]);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>WissenTrips</title>
</head>
<body>
    <div class="hero-wrap js-fullheight" style="background-image: url('/themes/images/bg_1.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-9 text-center ftco-animate" data-scrollax="properties: { translateY: '70%' }">
                    <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Anasayfa</a></span> <span>Hotel</span></p>
                    <h1 class="mb3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Odalar</h1>
                </div>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <br />
    <h1 class="mb-3 bread text-uppercase" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }" style="text-align: center; letter-spacing: 2px;">
        @Model.First().City
    </h1>
    <hr />

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 hotel-single ftco-animate mb-5 mt-4">
                    <div class="destination">
                        <a asp-controller="Reservation" asp-action="ConfirmReservationGet"
                           asp-route-roomId="@item.RoomId"
                           asp-route-checkInDate="@checkInDate.ToString("yyyy-MM-dd")"
                           asp-route-checkOutDate="@checkOutDate.ToString("yyyy-MM-dd")"
                           asp-route-numberOfGuests="@numberOfGuests"
                           class="img img-2" style="background-image: url(@item.PictureUrl);"></a>
                        <hr />
                        <div class="text">
                            <div class="d-flex">
                                <div class="card border-0">
                                    <div class="card-body">
                                        <h5 class="card-title">Oda Tipi: @item.Type</h5>
                                        <p class="card-text">Oda Numarası: @item.RoomNumber</p>
                                        <p class="card-text">Fiyat: @item.Price ₺/gecelik</p>
                                        <p class="card-text">Toplam Fiyat: @(item.Price * Convert.ToDecimal((checkOutDate - checkInDate).TotalDays) * numberOfGuests) ₺</p>
                                        <p class="card-text">Müsaitlik: @(item.IsAvailable ? "Müsait" : "Dolu")</p>
                                        <p class="card-text">@item.Description</p>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p class="bottom-area d-flex">
                                <span><i class="icon-map-o"></i> @item.City, @item.Country</span>
                                <a asp-controller="Reservation" asp-action="ConfirmReservationGet"
                                   asp-route-roomId="@item.RoomId"
                                   asp-route-checkInDate="@checkInDate.ToString("yyyy-MM-dd")"
                                   asp-route-checkOutDate="@checkOutDate.ToString("yyyy-MM-dd")"
                                   asp-route-numberOfGuests="@numberOfGuests"
                                   class="btn btn-primary btn-sm">
                                    Rezervasyon Yap
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
